{% for advert in adverts %}
    <tr>
        <th>{{ advert.status }}</th>
        <td>{{ advert.title }}</td>
        <td>{{ advert.createdAt|date('d/m/Y') }}</td>
        <td>{{ advert.price }}</td>
    </tr>
{% endfor %}