{% extends 'base.html.twig' %}

{% block title %}Edit Adverts{% endblock %}

{% block body %}
    <h1>Edit Adverts</h1>

    {{ include('adverts/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('adverts_list') }}">back to list</a>

    {{ include('adverts/_delete_form.html.twig') }}
{% endblock %}
