{% extends "base.html.twig" %}

{% block title %}Annonces {% endblock %}

{% block body %}
    <main class="container fill pt-5 mt-4">
    {% if app.request.getPathInfo() == "/adverts/list" %}
        <h2>Toutes les annonces disponibles ( {{ adverts|length }} ) </h2>
        {% else %}
        <h2>{{ adverts|length }} annonces correspondant à votre recherche</h2>
        {% endif %}
        <div id="listOfAdvert" class="row">
        {% for advert in adverts %}
            <div class="col-sm-6 col-md-4">
                {% include "adverts/_advert_card.html.twig" %}
            </div>
        {% endfor %}
        </div>
    </main>

{% endblock %}