{% extends "base.html.twig" %}

{% block title %}Annonces {% endblock %}

{% block body %}
    <main class="container fill pt-5 mt-4">
            <h2>Toutes les annonces disponibles ADvert show( {{ adverts.getTotalItemCount() }} )</h2>
            {{ knp_pagination_render(adverts) }}
        <div id="listOfAdvert" class="row">
            {% for advert in adverts %}
                <div class="col-sm-6 col-md-4">
                    {% include "adverts/_advert_card.html.twig" %}
                </div>
            {% endfor %}
            <a href="{{ path('home_index') }}">
                <p>Retour à la page d'accueil</p>
            </a>
        </div>
    </main>
{% endblock %}
