{% extends 'base.html.twig' %}

{% block title %}Hello PaymentController!{% endblock %}

{% block body %}
  <h1>Votre paiement à été refusé</h1>
    <p>Votre commande n'a pas été enregistrée.</p>
    <a href="{{ path('adverts_list') }}" class="btn btn-primary">Retour à l'accueil</a>
{% endblock %}
